trigger:
  branches:
    include:
      - dev
      - qa
      - hotfix/*
  tags:
    include:
      - "*"

# No PR triggers
pr: none

parameters:
  - name: ENV_NAME
    displayName: "Deploy to Environment:"
    type: string
    default: "none"
    values: ["dev", "qa", "prod","none"]

variables:
- name: APP_NAME
  value: frontend
- name: APP_DOCKER_FILE
  value: 'Dockerfile.app'
- name: BASE_DOCKER_FILE
  value: 'Dockerfile.base'
- name: ACR_SC_NAME
  value: vs-acr-sc
- name: REGISTRY
  value: 'vscentralacr.azurecr.io'
- name: APP_IMAGE_REPO
  value: 'vs_frontend_app'
- name: BASE_IMAGE_REPO
  value: 'vs_frontend_base'
- name: BASE_DIFF_FILES
  value: 'devops/docker/Dockerfile.base package.json package-lock.json'

- name: ARM_SC_NAME
  ? ${{ if or(
        eq(parameters['ENV_NAME'], 'dev'),
        eq(parameters['ENV_NAME'], 'qa'),
        eq(parameters['ENV_NAME'], 'none')
      ) }}
  : value: "vs-arm-sc"
  ${{ if eq(parameters['ENV_NAME'], 'prod') }}:
    value: "vs-arm-prod-sc"

- name: CAPP_RG
  ? ${{ if or(
        eq(parameters['ENV_NAME'], 'dev'),
        eq(variables['Build.SourceBranch'], 'refs/heads/dev')
      ) }}
  : value: "non-prod-rg"
  ? ${{ if or(
        eq(parameters['ENV_NAME'], 'qa'),
        eq(variables['Build.SourceBranch'], 'refs/heads/qa'),
        startsWith(variables['Build.SourceBranch'], 'refs/tags/'),
        startsWith(variables['Build.SourceBranch'], 'refs/heads/hotfix/')
      ) }}
  : value: "non-prod-rg"
  ${{ if eq(parameters['ENV_NAME'], 'prod') }}:
    value: "prod-rg"

- name: CAPP_NAME
  ? ${{ if or(
        eq(parameters['ENV_NAME'], 'dev'),
        eq(variables['Build.SourceBranch'], 'refs/heads/dev')
      ) }}
  : value: "dev-frontend"
  ? ${{ if or(
        eq(parameters['ENV_NAME'], 'qa'),
        eq(variables['Build.SourceBranch'], 'refs/heads/qa'),
        startsWith(variables['Build.SourceBranch'], 'refs/tags/'),
        startsWith(variables['Build.SourceBranch'], 'refs/heads/hotfix/')
      ) }}
  : value: "qa-frontend"
  ${{ if eq(parameters['ENV_NAME'], 'prod') }}:
    value: "prod-frontend"

- name: REACT_APP_API_URL
  ? ${{ if or(
        eq(parameters['ENV_NAME'], 'dev'),
        eq(variables['Build.SourceBranch'], 'refs/heads/dev')
      ) }}
  : value: 'https://rcd-api-dev.heartlandvetpartners.com/'
  ? ${{ if or(
        eq(parameters['ENV_NAME'], 'qa'),
        eq(variables['Build.SourceBranch'], 'refs/heads/qa'),
        startsWith(variables['Build.SourceBranch'], 'refs/tags/'),
        startsWith(variables['Build.SourceBranch'], 'refs/heads/hotfix/')
      ) }}
  : value: 'https://rcd-api-qa.heartlandvetpartners.com/'
  ${{ if eq(parameters['ENV_NAME'], 'prod') }}:
    value: 'https://rcd-api.heartlandvetpartners.com/'

# Pool
pool: 
  vmImage: 'ubuntu-22.04'

# Using the templates
jobs:
  - job: BuildandDeployImage
    displayName: "Build and Deploy App image"
    timeoutInMinutes: 0
    cancelTimeoutInMinutes: 5
    steps:
    - template: templates/build.yaml
      parameters:        
        REACT_APP_API_URL: $(REACT_APP_API_URL)
        ACR_SC_NAME: $(ACR_SC_NAME)
        REGISTRY: $(REGISTRY)
        APP_IMAGE_REPO: $(APP_IMAGE_REPO)
        BASE_IMAGE_REPO: $(BASE_IMAGE_REPO)
        BASE_DIFF_FILES: $(BASE_DIFF_FILES)
        APP_DOCKER_FILE: $(APP_DOCKER_FILE)
        BASE_DOCKER_FILE: $(BASE_DOCKER_FILE)

    - ${{ if or(ne(parameters.ENV_NAME, 'none'), in( variables['Build.Reason'], 'IndividualCI', 'BatchedCI', 'PullRequest')) }}:
      - template: templates/deploy.yaml
        parameters:
          APP_NAME: $(APP_NAME)
          ARM_SC_NAME: $(ARM_SC_NAME)
          CAPP_RG: $(CAPP_RG)
          CAPP_NAME: $(CAPP_NAME)
          REGISTRY: $(REGISTRY)
          APP_IMAGE_REPO: $(APP_IMAGE_REPO)
          TAG: $(getTag.TAG)
